@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-5vh {
    height: 5vh;
  }

  .h-10vh {
    height: 10vh;
  }

  .h-15vh {
    height: 15vh;
  }

  .h-20vh {
    height: 20vh;
  }

  .h-50vh {
    height: 50vh;
  }

  .h-70vh {
    height: 70vh;
  }

  .h-80vh {
    height: 80vh;
  }

  .w-50vw {
    width: 50vw;
  }
}
